@font-face {
    font-family: "ubuntu";
    src: url(./fonts/Ubuntu/Ubuntu-Regular.ttf);
  
}
@font-face {
    font-family: "Hesam";
    src: url(./fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
html {
    scroll-behavior:smooth;
}
body { 
    background-color:rgb(127, 176, 190);
    font-family: "ubuntu";
    width: 100%;
    max-width: 1450px;
  margin:  auto;
}

main {
    scroll-snap-type: y mandatory; /* Apply scroll snap on the y-axis */
    height: 100vh; /* Ensure the container takes full viewport height */
    overflow-y: scroll; /* Enable vertical scrolling */
}
section {
    scroll-snap-align: start; /* Align each section to the start of the container */
    height: 100vh; /* Each section takes full viewport height */
    display: flex;
    font-size: 2em;
    color: white;
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
box-shadow:  21px 21px 88px #bebebe,
             -21px -21px 88px #ffffff;
}
@media (max-width:700px) {
    .navbar {
        display: none;
    }
    
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 14px 20px;
    display: block;
    transition: color 0.3s ease;
}

.nav-links a:hover
, .nav-links a:focus {
    border-radius: 5px;
    color: aqua;
}

/* styles.css */


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Ensures wrapping on smaller screens */
}

.box1 {
    width: 45%; /* Width of each box */
    color: white;
    height: auto;
    padding: 20px;
}
.box2 {
    width: 45%; /* Width of each box */
    color: white;
    height: auto;
    text-align: center;
}
.box2 img {
    width: 40%;
    border-radius: 50%;
    background: #583c3c;
    box-shadow:  8px -8px 72px rgb(127, 176, 190),
                 -8px 8px 72px rgb(127, 176, 190);
}
.box1 p {
    font-size: 15px;
    line-height: 35px;
    opacity: 0; /* Initially hidden */
    animation: fadeIn 2s forwards; /* Apply the fade-in animation */
    color: white;

}
.box1 span { color: yellow;
font-weight: 600;}
.box1 h2 {
    font-family: "Hesam";
    font-size: 70px;
}
@media (max-width:700px) {
    .box1 h2 {
        font-size: 30px;
    }
    
}
@keyframes fadeIn {
    to {
        opacity: 1; /* Fade in to full opacity */
    }
}


@media (max-width: 700px) {
    .box1 , .box p  {
        flex: 1 1 100%; /* Full width on smaller screens */
        font-size: 10px;
    }
}
@media (max-width: 1200px)  {
    .box2 {
        display: none;
    }
    
}
/* section 2 */
.second-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills {
    text-align: center;
    padding: 20px;

}
.skills p {
    text-align: left;
    font-size: 16px;
    line-height: 30px;
}
@media (max-width:700px) {
    .skills p {
        line-height: 20px;
        font-size: 13px;
    }
    
}
@media (max-width:700px) {
    .skills h2 {
        font-size: 18px;
    }
    
}




.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    border-radius: 26px;
    background: #b980ff;
    box-shadow:  5px 5px 10px #9d6dd9,
                 -5px -5px 10px #d593ff;
    overflow: hidden;
    transition: transform 0.2s;
    width: 200px;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    padding-top: 20px;
    width: 50px;
    height: auto;
}

.caption {
    padding: 15px;
    text-align: center;
    font-size: 15px;
    color: #333;
}


@media (max-width: 900px) {
    .card {
        width: 30%;
        font-size: 10px;
    }
}
/* works */
.Works {
    text-align: center;
    align-items: center;
    justify-content: center;
}
.container3 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.7);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      height: 20%;
    }
  }
  .column img {
    width: 100%;
    border-radius: 15px;
background: #80dfff;
box-shadow:  30px 30px 60px #6dbed9,
             -30px -30px 60px #93ffff;
  }
  @media (max-width:700px) {
    .column img {
        width: 80%;
    }
    
  }
  .column p {
    font-size: 15px;
    line-height: 35px;
  }
  .column h2 {
    font-size: 20px;
  }
  .works {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
